.about__title{
    color:#2c2c34;
    font-family: "Comic-Sans-MS";
}
.about__wrapper-paragraph{
    height: 70vh;
    position: relative;
    margin: 0 auto;


}
.about__paragraph{
    display: block;
    margin: 0 auto;
    background-color: #fbfced;
    text-align: center;
    width: 50vw;
    height: 120px;
    padding-top: 16px;
    font-family:"Comic-Sans-MS";
    margin-top: 20px;
    animation-name: top;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.7,0.5,0.2,1.5);
    box-shadow: 2px 2px 10px rgba(37, 37, 37, 0.2);
    border: 1px solid #2c2c34;
}
@keyframes top {
0% {
    margin-top: 80px;
    overflow: hidden;
    background-color: transparent;
}
100% {
    margin-top: 20px;
    background-color:#fbfced;
    }
}
@media screen and (max-width: 480px){
    .about__paragraph{
        width: 80vw;
    }
}