
.main{
  height: calc(100vh - 84px);

&__head {
  font-size: 28px;
  font-family: "Comic-Sans-MS";
  text-align: center;
}

&__hr {
  margin: 0 auto;
  margin-top: 10px;
  height: 4px;
  border: none;
  background-color: #2c2c34;
  animation-name: left;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes left {
  0% {
    width: 80vw;
  }

  50% {
    width: 40vw;
  }

  100% {
    width: 80vw;
  }
}
&__image-wrapper{
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowraps;
  justify-content: center;
  align-items: center;
}
&__image-button{
  display:block;
  align-items: center;
  width: 32px;
  height: 64px;
  color: #5a5a68;
  font-family:monospace;
  font-size: 24px;
  border:none;
  border-radius: 4px;
  background-color:#eee;
  padding-bottom: 8px;
  cursor: pointer;
 
    &:hover{
      background-color:#d8d8d8;
      height: 84px;
      transition: .3s;
 }
}
&__image {
  display: inline-block;
  margin: 8px;
  width: 90vh ;
  max-width: 1000px;
  min-width: 320px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(37, 37, 37, 0.2);
}
}
.text-motivation {
  margin: 0 auto;
  padding: 8px;
  width: 60vw;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .main__image {
    min-width: 200px;
    margin: 4px 4px;
  }

  .main__head {
    font-size: 20px;
  }

  .main__hr {
    margin-top: 4px;
  }
  .main__image-button{
    font-size: 16px;
    width: 24px;
    height: 48px;
}
}