.card__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.private__header{
    text-align: center;
    margin-bottom: 12px;
}
.card__link{
    display: block;
    margin: 0 auto;
}
.card__img{
    width: 50px;
    display: block;
    margin: 0 auto;
    
}

