@font-face {
    font-family: "Comic-Sans-MS";
    font-weight: 400;
    font-style: normal;
    src:url("../fonts/ComicSansMS.woff2") format("woff2");
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navigation{
min-width: 100%;
display: flex;
border-bottom: 2px solid #2c2c34;
color:#2c2c34;
justify-content: space-between;
align-items: center;
font-family: "Comic-Sans-MS";
font-size: 24px;
font-weight: 500;
text-decoration: none;
}
.logo{
    height: 80px;
    display: block;
}
.logo:hover{
    padding-left: 8px;
    transition: all 0.2s ease-in-out;
}
.navigation__wraper-links{
    height: 80px ;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}

.navigation__link{
    /* width: 140px; */
    display: block;
    text-decoration: none;
    text-align: center;
}
.navigation__link:visited{
    color: inherit;

}
.navigation__link:hover{
        transition: 0.1s;
        color: #45484b;
        text-shadow: 2px 2px rgba(63,107,169, 0.5);
    }

@media screen and (max-width: 480px) {
    .navigation{
        flex-direction: column;
        justify-content: space-around;

    }
    .logo{
        height: 120px;
        padding-left: 0;
    }
 
    .navigation__wraper-links{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-evenly;
        /* align-items: center; */
        padding-right: 0;
        vertical-align: middle;
        
    }
    .navigation__link {
        display:block;
        padding-right: 0;
        padding-bottom: 20px;
        padding-top: 12px;
        font-size: 24px;

}
}