
.form-habit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    width: 60vw;
    height: 30%;
    background-color: #ece4b7;
    border-radius: 8px;

    &__title{
        display: block;
        width: 80%;
        height: 40px;
        border: none;
        border-bottom: 2px solid #2c2c34;
        outline: none;
        font-size: 20px;
        background-color: transparent;
    }

    &__description{
        display: block;
        margin-top: 12px;
        width: 80%;
        height: 80px;
        padding-top: 20px;
        font-size: 20px;
        border: none;
        outline: none;
        border-bottom: 2px solid #2c2c34;
        background-color: transparent;
        resize: none;
        overflow-y: hidden;
     }
    &__button{
        display: block;
        margin-top: 12px;
        width: 100px;
        height: 40px;
        border: none;
        background-color:#eee;
        border-radius: 8px;

        &:hover{
            transition: .5s;
            cursor: pointer;
            background-color:#d8d8d8;
        }
        
       
    }
}
@media screen and (max-width: 480px) {
    .form-habit{
        width: 80vw;
    
    &__title{
        font-size: 16px;
    }
    &__description{
        padding-top: 8px;
        font-size: 16px;
    }
    }
    }
