body {

    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  "Comic-Sans-MS";
}

ul {
    list-style: none;
}
p {
    margin: auto;
  }

a {
    text-decoration: none;
    color: #2c2c34;
}
a:visited{
    color: #45484b;
}

@font-face {
    font-family: "Comic-Sans-MS";
    font-weight: 400;
    font-style: normal;
    src:url("./components/fonts/ComicSansMS.woff2") format("woff2");
}


